section.characters {
    .header {
        padding: 120px 30px 210px 30px;
        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 18px;
        }
        .title {
            text-align: center;
            margin-bottom: 80px;
            h3 {
                color: #5c5a5a;
                font-size: 36px;
                font-weight: 500;
                line-height: 140%;
            }
            p {
                color: #5c5a5a;
                font-size: 28px;
                font-weight: 500;
                line-height: 140%;
                span {
                    font-size: 22px;
                    margin-left: 30px;
                }
            }
            .hr {
                margin: 14px auto;
            }
        }
        .figure {
            position: relative;
            max-width: 100%;
            img.image-hover {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                object-fit: contain;
                opacity: 0;
                transition: opacity 0.2s;
            }
            // 僅在非觸控設備使用hover
            @media (any-hover: hover) {
                &:hover {
                    img.image-hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .character {
        text-align: center;
        .header {
            padding: 133px 20px 72px 20px;
        }
        .product {
            position: relative;
            max-width: 1080px;
            margin: 0 auto;
            padding: 82px 30px 88px 30px;
            .dec {
                z-index: 2;
            }
            .details {
                position: relative;
                max-width: 588px;
                .detail {
                    margin-bottom: 40px;
                    &-02 {
                        .pic {
                            display: flex;
                            gap: 24px;
                            margin-bottom: 24px;
                            justify-content: center;
                            align-items: center;
                            img {
                                max-width: 50%;
                            }
                        }
                    }
                }
                p {
                    position: relative;
                    z-index: 4;
                }
            }
            .product-slide {
                margin-top: 60px;
            }
            .btn-more {
                color: #fff;
            }
        }
        &-1 {
            .header {
                background-color: #94283d;
                border-bottom: 8px solid #e5aa74;
            }
            .product {
                .details {
                    margin: 0 0 0 auto;
                }
                .btn-more {
                    background-color: #e5aa74;
                }
                .dec-all {
                    left: -165px;
                }
            }
            .next-glass {
                border-color: transparent transparent transparent #e5aa74;
            }
            .prev-glass {
                border-color: transparent #e5aa74 transparent transparent;
            }
        }
        &-2 {
            .header {
                background-color: #4a4f7d;
                border-bottom: 8px solid #fcc5d2;
            }
            .product {
                .pc_only.dec-1 {
                    left: -78px;
                    top: 208px;
                }
                .pc_only.dec-2 {
                    right: -90px;
                    top: 140px;
                }
                .details {
                    margin: 0 auto;
                }

                .btn-more {
                    background-color: #fcc5d2;
                }
            }
            .next-glass {
                border-color: transparent transparent transparent #fcc5d2;
            }
            .prev-glass {
                border-color: transparent #fcc5d2 transparent transparent;
            }
        }
        &-3 {
            .header {
                background-color: #ca92ad;
                border-bottom: 8px solid #5d76b8;
            }
            .product {
                .dec-all {
                    right: 0;
                    top: 140px;
                }
                .details {
                    margin: 0 auto 0 0;
                }
                .btn-more {
                    background-color: #5d76b8;
                }
            }
            .next-glass {
                border-color: transparent transparent transparent #5d76b8;
            }
            .prev-glass {
                border-color: transparent #5d76b8 transparent transparent;
            }
        }
        &-4 {
            .header {
                background-color: #e7d4a3;
                border-bottom: 8px solid #939393;
            }
            .product {
                .dec-all {
                    left: -50px;
                    top: 10px;
                }
                .details {
                    margin: 0 0 0 auto;
                }
                .btn-more {
                    background-color: #939393;
                }
            }
            .next-glass {
                border-color: transparent transparent transparent #939393;
            }
            .prev-glass {
                border-color: transparent #939393 transparent transparent;
            }
        }
        &-5 {
            .header {
                background-color: #8fa468;
                border-bottom: 8px solid #f8b679;
            }
            .product {
                .pc_only.dec-1 {
                    left: 0px;
                    top: 180px;
                }
                .pc_only.dec-2 {
                    right: 20px;
                    top: 140px;
                }
                .details {
                    margin: 0 auto;
                }
                .btn-more {
                    background-color: #f8b679;
                }
            }
            .next-glass {
                border-color: transparent transparent transparent #f8b679;
            }
            .prev-glass {
                border-color: transparent #f8b679 transparent transparent;
            }
        }
        &-6 {
            .header {
                background-color: #000;
                border-bottom: 8px solid #e0b889;
            }
            .product {
                .dec-all {
                    left: -50px;
                    top: 10px;
                }
                .details {
                    margin: 0 0 0 auto;
                }
                .btn-more {
                    background-color: #e0b889;
                }
            }
            .next-glass {
                border-color: transparent transparent transparent #e0b889;
            }
            .prev-glass {
                border-color: transparent #e0b889 transparent transparent;
            }
        }
    }
    @include pad {
        .custom-swiper-button-next,
        .custom-swiper-button-prev {
            display: block !important;
        }
    }
    @include custom-media('1020px') {
        .sp_only.dec,
        .sp_only {
            display: block !important;
        }
        .pc_only.dec,
        .pc_only {
            display: none !important;
        }
        .header {
            padding: 35px 30px 50px 30px;
            .title {
                margin-bottom: 34px;
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 16px;
                    span {
                        font-size: 14px;
                        margin: 0;
                        display: block;
                    }
                }
            }
            .nav {
                flex-wrap: wrap;
                .nav-item {
                    flex: 0 0 calc(33.33% - 12px);
                    margin-bottom: 18px;
                }
            }
        }
        .character {
            .header {
                padding: 63px 20px 32px 20px;
                border-width: 4px;
                .title {
                    max-width: 182px;
                }
            }
            .product {
                padding: 40px 30px;
                .details {
                    margin: 0 auto;
                    .detail {
                        font-size: 12px;
                        &-02 {
                            .pic {
                                flex-wrap: wrap;
                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }

                .product-slide {
                    margin-top: 40px;
                }
                .model,
                .info,
                .pro-link-text {
                    font-size: 12px;
                }
                .btn-more {
                    font-size: 12px;
                    width: 170px;
                }
            }
            &-1 {
                .product {
                    .dec-1 {
                        top: 43%;
                        left: 0;
                    }
                    .dec-2 {
                        top: 70%;
                        right: -40px;
                    }
                }
            }
            &-2 {
                .product {
                    .dec-1 {
                        left: -50px;
                    }
                    .dec-2 {
                        right: -52px;
                    }
                }
            }
            &-3 {
                .product {
                    .dec-1 {
                        left: -50px;
                        top: 150px;
                    }
                    .dec-2 {
                        right: -52px;
                        top: 150px;
                    }
                }
            }
            &-4 {
                .product {
                    .dec-1 {
                        left: 10px;
                        top: 40%;
                        z-index: 1;
                    }
                    .dec-2 {
                        right: 0px;
                        top: 62%;
                        z-index: 1;
                    }
                    .details {
                        z-index: 2;
                    }
                }
            }
            &-5 {
                .product {
                    .dec-1 {
                        left: -110px;
                        bottom: -140px;
                    }
                    .dec-2 {
                        right: -96px;
                        top: -125px;
                    }
                }
            }
            &-6 {
                .product {
                    .dec-1 {
                        left: -66px;
                        z-index: 1;
                    }
                    .dec-2 {
                        right: -65px;

                        z-index: 1;
                    }
                }
            }
        }
    }
    @include custom-media('480px') {
        .character {
            &-5 {
                .product {
                    .dec-1 {
                        left: -68px;
                        bottom: -208px;
                    }
                    .dec-2 {
                        right: -70px;
                        top: -60px;
                    }
                }
            }
            &-6 {
                .product {
                    .dec-2 {
                        bottom: -40px;
                    }
                }
            }
        }
    }
}
