.sp_only {
    display: none !important;
}
.pc_only {
    display: block !important;
}

@include mb {
    .sp_only {
        display: block !important;
    }
    .pc_only {
        display: none !important;
    }
}

.dec {
    position: absolute;
    max-width: inherit;
}
.btn-more {
    display: block;
    text-align: center;
    width: 346px;
    border-radius: 36px;
    font-size: 24px;
    padding: 10px;
    margin: 20px auto;
    &--gray {
        color: #fff;
        background-color: #b1b1b1;
    }
}
.align-items-start {
    align-items: flex-start !important ;
}
.d-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.product-slide {
    position: relative;
}
.custom-swiper-button-prev,
.custom-swiper-button-next {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 5;
    display: none;
}
.custom-swiper-button-next {
    right: -0.25rem;
}
.gray-prev-glass {
    background-image: url(./img/icon-arrow-left.svg);
}
.gray-next-glass {
    background-image: url(./img/icon-arrow-right.svg);
}
.blue-prev-glass {
    background-image: url(./img/icon-arrow-left-blue.svg);
}
.blue-next-glass {
    background-image: url(./img/icon-arrow-right-blue.svg);
}
.gold-prev-glass {
    background-image: url(./img/icon-arrow-left-coffee.svg);
}
.gold-next-glass {
    background-image: url(./img/icon-arrow-right-coffee.svg);
}

.next-glass {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent #007bff;
}
.prev-glass {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 17.3px 10px 0;
    border-color: transparent #007bff transparent transparent;
}
