.grayBox {
    max-width: 495px;
    text-align: center;
    margin: 0 auto;
    background-color: #f5f5f5;
    border: 1px solid #c5c5c5;
    padding: 14px;
}

.product-slide-item {
    text-align: center;
    .info {
        color: #000;
        font-size: 14px;
    }
}

.mainSection {
    background-image: url(./img/bg-section01_B.png);
    background-position: top center;
    background-repeat: repeat;
    @include mb {
        background-image: url(./img/bg-section01_sp.png);
    }
}

section.conanIntro {
    padding-top: 306px;
    .info {
        position: relative;
        text-align: center;
        max-width: 360px;
        margin: 0 auto;
        & > * {
            z-index: 2;
        }
        &::after {
            width: 250%;
            height: 200%;
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 499px;
            background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.9) 61.67%, rgba(255, 255, 255, 0.7) 100%);
            z-index: 1;
            filter: blur(15px);
        }
        .date {
            position: relative;
            font-size: 32px;
            font-weight: bold;
        }
        .keyhole {
            position: relative;
            margin: 23px 0;
        }
        .title {
            position: relative;
            font-size: 28px;
            margin-bottom: 1em;
            font-weight: bold;
        }
        .text {
            position: relative;
            font-size: 20px;
        }
        .dec-conan {
            left: -250px;
            top: 246px;
        }
    }
    @include mb {
        padding-top: 150px;
        margin-bottom: 220px;
        .info {
            &::after {
                width: 150%;
                height: 150%;
            }
            .date {
                position: relative;
                font-size: 16px;
            }
            .keyhole {
                position: relative;
                margin: 10px 0;
            }
            .title {
                position: relative;
                font-size: 20px;
                margin-bottom: 1em;
            }
            .text {
                position: relative;
                font-size: 14px;
            }
            .dec-conan {
                top: 334px;
                height: 215px;
                left: calc(50% - 50px);
                // transform: translateX(-50%);
            }
        }
    }
}
section.lineUp {
    position: relative;
    max-width: 982px;
    margin: 0 auto;
    padding-top: 420px;
    margin-bottom: 170px;
    .title {
        position: relative;
        color: #fff;
        font-weight: bold;
        font-size: 60px;
        text-align: center;
        margin-bottom: 40px;
        z-index: 2;
    }
    .dec-prisoner {
        right: -128px;
        bottom: -54px;
        z-index: 2;
    }

    .nav {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0 auto;
        z-index: 4;
        .nav-item {
            border: 3px solid #b57641;
            color: #573719;
            font-weight: bold;
            background-color: #fff;
            text-align: center;
            .name {
                font-size: 22px;
            }
            .num {
                font-size: 26px;
            }
            small {
                font-size: 18px;
            }
            &:hover {
                background-color: #f3e5d8;
            }
            &:nth-child(2) {
                margin: 0 16px;
            }
            &:not(:last-child) {
                flex: 1;
                width: 33.3%;
                padding: 16px;
            }
            &:last-child {
                padding: 20px;
                width: 100%;
            }
        }
    }
    &::after {
        width: 1680px;
        height: 568px;
        content: '';
        display: block;
        background-image: url(img/bg-wall_PC.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: -65px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
    }
    @include custom-media('1250px') {
        .dec-prisoner {
            right: -40px;
        }
        .nav {
            max-width: 805px;
        }
    }
    @include mb {
        padding-top: 0;
        max-width: 320px;
        margin-bottom: 64px;
        &::after {
            width: 420px;
            height: 442px;
            content: '';
            display: block;
            background-image: url(img/bg-wall.png);
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
        .title {
            padding-top: 24px;
            margin-bottom: 20px;
            font-size: 24px;
        }
        .dec-prisoner {
            width: 167px;
            height: 441px;
            right: 0;
            bottom: -120px;
            z-index: 2;
        }
        .nav {
            flex-direction: column;
            padding: 0 16px;
            gap: 20px;

            .nav-item {
                width: 193px;
                height: 42px;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: baseline;
                line-height: 1;
                .name {
                    font-size: 12px;
                    width: 100%;
                    flex: 0 0 auto;
                }
                .num,
                small {
                    font-size: 16px;
                }
                .num {
                    margin-right: 3px;
                }

                &:nth-child(2) {
                    margin: 0 auto;
                }
                &:not(:last-child),
                &:last-child {
                    flex: auto;
                    padding: 8px;
                    width: 193px;
                    height: 42px;
                }
            }
        }
    }
}
section.concept {
    padding: 45px;
    .title {
        position: relative;
        left: -40px;
        margin: 0 auto;
        max-width: 563px;
        margin-bottom: 40px;
    }
    .products {
        max-width: 1620px;
        margin: 0 auto;
        background-color: #fff;
        border: 4px solid #603d1c;
        .hr {
            width: 80%;
            height: 5px;
            background-color: #543618;
            margin: 0 auto;
        }
        .product {
            margin: 0 auto;
            padding: 70px;
            .d-row:first-child {
                margin-bottom: 40px;
            }
            .d-row:nth-child(2) {
                margin-bottom: 50px;
            }
            .model {
                font-size: 18px;
                text-align: center;
                margin: 46px 0 0 0;
            }
            .btn-more {
                margin: 46px auto;
            }

            &.product-24A-16 {
                max-width: 1080px;
                .detail {
                    &-00 {
                        width: 495px;
                    }

                    &-01,
                    &-02 {
                        padding-top: 30px;
                        width: 166px;
                        p {
                            margin-top: 70px;
                        }
                    }
                    &-03 {
                        position: relative;
                        width: 246px;
                        .dec-conan02 {
                            top: -125px;
                        }
                    }
                    &-04 {
                        text-align: center;
                        width: 260px;
                        p {
                            margin-top: 1em;
                        }
                    }
                    &-05 {
                        width: 524px;
                    }
                }
            }
            &.product-24A-15 {
                max-width: 1180px;
                .detail {
                    &-00 {
                        width: 495px;
                    }
                    &-01 {
                        width: 365px;
                        padding-top: 30px;
                        p {
                            margin-top: 70px;
                        }
                    }
                    &-02 {
                        padding-top: 30px;
                        width: 166px;
                        p {
                            margin-top: 70px;
                        }
                    }
                    &-03 {
                        position: relative;
                        width: 246px;
                        .dec-kudo {
                            top: -190px;
                            left: -100px;
                            width: 210%;
                        }
                    }
                    &-04 {
                        text-align: center;
                        width: 260px;
                        p {
                            margin-top: 1em;
                        }
                    }
                    &-05 {
                        width: 524px;
                        img {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    .accessories {
        margin-top: 60px;
        .product {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .accessories-title {
            text-align: center;
            font-size: 36px;
            font-weight: 500;
        }
        .badge {
            display: inline-block;
            font-size: 24px;
            font-weight: 500;
            color: #fff;
            background: #000;
            border-radius: 50px;
            padding: 10px 56px;
            margin: 34px auto;
        }
        h4 {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
        }

        .accessory {
            max-width: 1060px;
            margin: 0 auto;
            text-align: center;
            &:last-child {
                margin-top: 50px;
            }
            .detail-info {
                margin: 36px auto;
                .name {
                    font-size: 24px;
                    font-weight: 500;
                }
                .info {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
    @include pad {
        .d-row {
            flex-wrap: wrap;
        }
        .products {
            .custom-swiper-button-next,
            .custom-swiper-button-prev {
                display: block !important;
            }
            .product {
                padding: 20px;
                &.product-24A-16 {
                    .detail {
                        p {
                            font-size: 16px;
                        }
                        &-01,
                        &-02 {
                            padding-top: 30px;
                            width: 200px;
                            text-align: center;
                            p {
                                margin-top: 20px;
                            }
                        }
                        &-03 {
                            width: 246px;
                            .dec-conan02 {
                                top: -196px;
                                height: 320px;
                            }
                        }
                    }
                }
                &.product-24A-15 {
                    .detail {
                        p {
                            font-size: 16px;
                        }
                        &-01,
                        &-02 {
                            p {
                                margin-top: 20px;
                            }
                        }
                        &-03 {
                            width: 246px;
                            .dec-kudo {
                                top: -160px;
                                left: 0px;
                                width: 135%;
                            }
                        }

                        &-05 {
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    @include mb {
        padding: 16px;
        .title {
            margin-bottom: 20px;
            left: 0;
            img {
                width: 200px;
                margin: 0 auto;
            }
        }
        .d-row {
            gap: 0px;
        }
        .products {
            .hr {
                width: 90%;
                height: 2px;
            }
            .product-slide-item {
                img {
                    width: 85%;
                }
            }
            .product {
                .d-row:first-child,
                .d-row:nth-child(2),
                .d-row:last-child {
                    margin-bottom: 0;
                }
                .model,
                .pro-link-text {
                    font-size: 12px;
                }

                &.product-24A-16 {
                    .d-row.align-items-start {
                        flex-direction: column;
                    }
                    .detail {
                        margin-bottom: 20px;
                        text-align: center;
                        p {
                            font-size: 12px;
                        }
                        &-00 {
                            p {
                                margin-top: 20px;
                            }
                        }

                        &-04 {
                            position: relative;
                            max-width: 200px;
                            order: 1;
                            img.sp_only {
                                max-width: 200px;
                            }
                            img {
                                margin: 0 auto;
                            }
                            .dec-conan02 {
                                top: 80px;
                                left: -70px;
                                height: 191px;
                            }
                        }
                        &-05 {
                            .sp_only {
                                position: relative;
                                left: -21px;
                            }
                        }
                    }
                }
                &.product-24A-15 {
                    .detail {
                        margin-bottom: 20px;
                        text-align: center;
                        p {
                            font-size: 12px;
                        }
                        &-00,
                        &-01,
                        &-02 {
                            p {
                                margin-top: 20px;
                            }
                        }
                        &-01 {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 24px;
                            img {
                                max-width: 200px;
                            }
                        }
                        &-02 {
                            max-width: 200px;
                            width: 100%;
                            img {
                                margin: 0 auto;
                            }
                        }
                        &-03 {
                            width: 246px;
                        }
                        &-04 {
                            position: relative;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            img {
                                max-width: 200px;
                            }
                            .dec-kudo {
                                bottom: -113px;
                                right: -20px;
                            }
                        }

                        &-05 {
                            .sp_only {
                                position: relative;
                                right: -21px;
                            }
                        }
                    }
                }
            }
        }
        .accessories {
            margin-top: 40px;
            .accessories-title {
                font-size: 22px;
            }
            .badge {
                font-size: 14px;
                border-radius: 50px;
                padding: 6px 32px;
                margin: 34px auto 16px auto;
            }
            h4 {
                font-size: 12px;
                margin-bottom: 10px;
            }
            .accessory {
                max-width: 1060px;
                margin: 0 auto;
                text-align: center;
                &:last-child {
                    margin-top: 20px;
                    img {
                        width: 183px;
                        height: 260;
                    }
                }
                .detail-info {
                    margin: 16px auto;
                    .name {
                        font-size: 12px;
                    }
                    .info {
                        font-size: 12px;
                    }
                }
            }
        }
        .grayBox {
            font-size: 12px;
            padding: 14px 58px;
            // border: none;
            // background-color: unset;
        }
        .btn-more {
            font-size: 12px;
            width: 170px;
        }
    }
}
