section.merchandise {
    position: relative;
    background-image: url(./img/bg-merchandise_pc.png);
    background-position: top center;
    background-repeat: repeat-x;
    padding: 83px 45px 200px 45px;
    border-top: solid 23px #603d1d;
    .title {
        max-width: 560px;
        margin: 0 auto;
        margin-bottom: 240px;
    }
    .itemPanel {
        max-width: 1000px;
        display: flex;
        justify-content: center;
        gap: 60px;
        margin: 0 auto;
        &-1 {
            margin-bottom: 60px;
        }
        .gallery {
            position: relative;
            .gallery-slider {
                max-width: 460px;
                box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
            }
            .custom-swiper-button-next,
            .custom-swiper-button-prev {
                display: block;
            }
            .custom-swiper-button-next {
                right: -3rem;
            }
            .custom-swiper-button-prev {
                left: -3rem;
            }
        }
        .detail {
            max-width: 360px;
            .thumbnail {
                position: relative;
                margin-bottom: 67px;
                .swiper-slide {
                    border: 1px solid #e7e7e7;
                    max-width: 173px;
                }

                .custom-swiper-button-next {
                    right: -3rem;
                    display: block;
                }
                .custom-swiper-button-prev {
                    left: -3rem;
                    display: block;
                }
            }
        }
        .info {
            .model {
                font-size: 12px;
                font-weight: 400;
                line-height: 140%;
            }
            .name {
                font-size: 24px;
                font-weight: 700;
                line-height: 140%;
                span {
                    font-weight: 400;
                }
            }
            .text {
                font-size: 20px;
                font-weight: 400;
                line-height: 140%;
            }
        }
        &-1 {
            .btn-more {
                color: #dfdfdf;
                background: #284a75;
            }
        }
        &-2 {
            flex-direction: row-reverse;
            .btn-more {
                color: #97806a;
                background: #ecdecf;
            }
        }
    }
    @include mb {
        background-image: url(./img/bg-section01_sp.png);
        background-repeat: repeat;
        padding: 45px 30px;
        border-top: solid 12px #603d1d;
        .title {
            margin-bottom: 40px;
            img {
                margin: 0 auto;
            }
        }
        .itemPanel {
            display: block;
            padding: 30px 35px;
            background: #fff;
            box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2) inset;
            gap: 20px;
            text-align: center;
            margin: 0 auto;

            &-1 {
                border: 3px solid #284a75;
                margin-bottom: 20px;
            }
            &-2 {
                border: 3px solid #603d1d;
            }
            .btn-more {
                font-size: 12px;
                width: 170px;
            }
            .detail {
                margin: 0 auto;
                .thumbnail {
                    position: relative;
                    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
                    max-width: 250px;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    .swiper-slide {
                        border: none;
                        max-width: unset;
                    }
                }
            }
            .info {
                .model {
                    font-size: 12px;
                }
                .name {
                    font-size: 18px;
                }
                .text {
                    font-size: 14px;
                }
            }
        }
    }
}
