/* 斷點 */
@mixin pad {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin mb {
    @media (max-width: 767px) {
        @content;
    }
}
@mixin xs {
    @media (max-width: 480px) {
        @content;
    }
}
// 客製化斷點
@mixin custom-media($breakpoints) {
    @media (max-width: $breakpoints) {
        @content;
    }
}
