/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
img,
input,
button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul,
ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'SimSun', '宋体';
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

body {
    background: rgb(255, 255, 255);
    font-family: 'JINS_Next', 'Noto Sans TC', 'Helvetica Neue', 'Helvetica', 'PingFang TC', 'Arial', 'Microsoft JhengHei', '微軟正黑體', sans-serif !important ;
    letter-spacing: normal;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
    vertical-align: top;
}
a {
    color: #666;
    text-decoration: none;
}
