.btn-more {
    display: block;
    text-align: center;
    width: 260px;
    border-radius: 36px;
    font-size: 18px;
    padding: 7px;
    margin: 20px auto;
    &--gold {
        color: #fff;
        background-color: #e5aa74;
    }
}
section.scenes {
    position: relative;
    background-image: url(./img/bg-section02_pc.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    padding: 240px 45px 100px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .dec-kaito {
        z-index: 1;
    }
    .title {
        position: relative;
        margin-bottom: 62px;
    }
    .products {
        position: relative;
        width: 100%;
        max-width: 1300px;
        .pc_only.dec-kaito {
            right: -324px;
            top: -270px;
        }
        @include custom-media('1700px') {
            .pc_only.dec-kaito {
                right: -210px;
                top: -270px;
            }
        }
        .product {
            position: relative;
            padding: 60px;
            max-width: 1200px;
            margin: 0 auto;
            background-color: #fff;
            border: 3px solid #80776c;
            margin-bottom: 124px;
            z-index: 3;
            .d-row {
                margin-bottom: 57px;
            }
            .detail {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .pic {
                    display: flex;
                    gap: 24px;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 50%;
                    }
                }
                &-01 {
                    gap: 36px;
                    flex-direction: row;
                    flex-wrap: wrap;
                    max-width: 424px;

                    p {
                        width: 100%;
                        flex: 1 1 auto;
                    }
                }
            }
            &-1,
            &-2,
            &-3 {
                .dec-conan {
                    z-index: 2;
                }
            }
            &-1 {
                .dec-conan {
                    right: -30px;
                    bottom: -130px;
                    width: 180px;
                }
            }
            &-2 {
                .dec-conan {
                    left: 0;
                    bottom: -155px;
                    left: -55px;
                }
            }
            &-3 {
                .dec-conan {
                    right: -25px;
                    bottom: -240px;
                }
            }
        }
        .product-slide-item {
            img {
                margin: 20px 0;
            }
            .model {
                font-size: 18px;
                text-align: center;
            }
            .pro-link-text {
                margin-bottom: 6px;
                font-size: 14px;
            }
            .btn-more {
                font-size: 18px;
                width: 170px;
            }
        }
    }
    .dec-mountain {
        left: 0;
        bottom: 0;
        z-index: 3;
        pointer-events: none;
    }
    @include pad {
        .custom-swiper-button-next,
        .custom-swiper-button-prev {
            display: block !important;
        }
    }
    @include mb {
        background-image: url(./img/bg-section02_sp.png);
        background-size: cover;
        padding: 240px 20px 200px 20px;
        .title {
            width: 191px;
            margin-bottom: 20px;
            z-index: 2;
        }
        .dec-mountain {
            width: 300px;
            height: 196px;
            left: -55px;
        }
        .dec-kaito {
            width: 236px;
            height: 426px;
            right: -50px;
            top: 100px;
        }
        .products {
            padding: 0 20px;
            .product {
                padding: 20px;
                border: 2px solid #80776c;
                margin-bottom: 37px;
                .d-row {
                    flex-direction: column;
                }
                .detail {
                    width: 100%;
                    p {
                        font-size: 12px;
                        text-align: center;
                    }
                    .pic {
                        flex-direction: column;
                        img {
                            max-width: 100%;
                        }
                    }
                    &-01 {
                        gap: 24px;
                        max-width: 100%;
                    }
                }
                &-1 {
                    .dec-conan {
                        left: 0;
                        right: unset;
                        bottom: 590px;
                        width: 113px;
                        height: 208px;
                    }
                }
                &-2 {
                    position: relative;
                    padding-bottom: 30%;
                    .dec-conan {
                        left: -30px;
                        bottom: 470px;
                        width: 160px;
                        height: 226px;
                    }

                    .m-bg {
                        width: 110%;
                        max-width: 767px;
                        bottom: -4px;
                        left: -22px;
                        position: absolute;
                        z-index: 1;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100vw;
                        height: 400px;
                        display: block;
                        bottom: -400px;
                        left: -22px;
                        background: linear-gradient(
                            0deg,
                            rgba(255, 255, 255, 0) 0%,
                            rgba(255, 255, 255, 0.9) 41.67%,
                            #e0b889 100%
                        );
                    }
                }
                &-3 {
                    .dec-conan {
                        right: 0px;
                        bottom: -190px;
                        width: 140px;
                        height: 200px;
                    }
                }
            }
            .product-slide-item {
                img {
                    margin: 4px 0;
                }

                .pro-link-text {
                    margin-bottom: 24px;
                }
                .model,
                .pro-link-text,
                .btn-more {
                    font-size: 12px;
                }
            }
        }
    }
}
