@import 'mixin';
@import 'reset';
@import 'common';
@import 'mainSection';
@import 'scenes';
@import 'characters';
@import 'merchandise';

main {
    padding-top: 0 !important;
    overflow: hidden;
    line-height: 1.6;
}

section.kv {
    img {
        width: 100%;
    }
}

section.accessories {
    background-color: #e0b889;
    padding: 98px 60px 114px 60px;
    .accessories-panel {
        position: relative;
        padding: 60px;
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        padding: 48px 56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 36px;
        font-weight: 500;
    }
    h4 {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 36px;
    }
    .badge {
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        background: #e5aa74;
        border-radius: 50px;
        padding: 10px 56px;
        margin: 36px auto 32px auto;
    }
    .item {
        text-align: center;
        margin-bottom: 64px;
        max-width: 596px;
        img {
            margin-bottom: 24px;
        }
        .name {
            font-size: 24px;
            font-weight: 500;
        }
        .info {
            font-size: 16px;
            font-weight: 400;
        }
    }
    &--gray {
        background-color: #c2c2c2;

        .badge {
            background: #919191;
        }
    }
    @include mb {
        padding: 38px 20px 49px 20px;
        .title {
            font-size: 22px;
        }
        h4 {
            font-size: 12px;
            margin-bottom: 24px;
        }
        .badge {
            font-size: 12px;
            border-radius: 50px;
            padding: 6px 32px;
            margin: 34px auto 16px auto;
        }
        .item {
            margin-bottom: 32px;
            img {
                margin-bottom: 4px;
            }
            .name {
                font-size: 16px;
            }
            .info {
                font-size: 14px;
            }
        }
    }
}

section.giveaway {
    background: #ece5de;
    padding: 80px 15px;
    border-top: solid 40px #603d1d;
    text-align: center;
    .inner {
        width: 1600px;
        max-width: 100%;
        margin: 0 auto;
        font-size: 24px;
        padding-bottom: 40px;
    }
    .date {
        font-size: 36px;
        font-weight: 500;
    }
    .text {
        font-size: 24px;
        font-weight: 700;
        line-height: 160%;
    }
    .title {
        color: #616161;
        font-size: 36px;
        font-weight: 700;
        line-height: 160%;
    }
    .pic {
        position: relative;
        margin: 50px auto;
        width: 785px;
    }
    .box {
        background-color: #fff;
        border-radius: 70px;
        margin: 0 auto;
        padding: 56px 0;
    }
    .box-inner {
        width: 1080px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        font-weight: 500;
    }
    .top-info {
        .info {
            font-size: 24px;
            font-weight: 700;
        }
        .info_s {
            font-size: 20px;
            font-weight: 700;
            margin: 50px auto 60px auto;
        }
    }
    .d-info {
        display: flex;
        font-size: 18px;
        text-align: left;
        h3 {
            font-size: 20px;
            font-weight: 100;
        }
        div {
            flex: 1;
            padding: 0 20px;
            font-weight: 400;
        }
    }
    @include mb {
        border-top: solid 12px #603d1d;

        .date {
            font-size: 12px;
            margin-bottom: 5px;
        }
        .text {
            margin-bottom: 5px;
            font-size: 12px;
        }
        .title {
            font-size: 21px;
        }
        .box {
            border-radius: 20px;
            padding: 40px 25px;
        }
        .pic {
            margin: 20px auto;
            max-width: 300px;
        }
        .top-info {
            .info {
                font-size: 18px;
            }
            .info_s {
                font-size: 18px;
                margin: 40px auto;
            }
        }
        .d-info {
            flex-direction: column;
            font-size: 12px;
            div {
                padding: 0;
            }
            div + div {
                margin-top: 20px;
            }
            .m-t1em {
                margin-top: 1em;
            }
            h3 {
                font-size: 12px;
            }
        }

        .inner {
            padding-bottom: 20px;
        }
    }
    .swiper-pagination-bullet {
        border: 1px solid #603d1d;
        width: 15px;
        height: 15px;
    }
    .swiper-pagination {
        position: relative !important;
    }
    .swiper-pagination-bullet-active {
        background: #603d1d;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 15px;
    }
    .custom-swiper-button-prev,
    .custom-swiper-button-next {
        display: block;
        top: calc(50% - 20px);
    }
    .custom-swiper-button-prev {
        left: -2.5rem;
    }
    .custom-swiper-button-next {
        right: -2.5rem;
    }
}
