@charset "UTF-8";
/* 斷點 */
/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}

fieldset,
img,
input,
button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ul,
ol {
  list-style: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}

select,
input {
  vertical-align: middle;
}

select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}

textarea {
  resize: none;
}

body {
  background: rgb(255, 255, 255);
  font-family: "JINS_Next", "Noto Sans TC", "Helvetica Neue", "Helvetica", "PingFang TC", "Arial", "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  letter-spacing: normal;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: #666;
  text-decoration: none;
}

.sp_only {
  display: none !important;
}

.pc_only {
  display: block !important;
}

@media (max-width: 767px) {
  .sp_only {
    display: block !important;
  }
  .pc_only {
    display: none !important;
  }
}
.dec {
  position: absolute;
  max-width: inherit;
}

.btn-more {
  display: block;
  text-align: center;
  width: 346px;
  border-radius: 36px;
  font-size: 24px;
  padding: 10px;
  margin: 20px auto;
}
.btn-more--gray {
  color: #fff;
  background-color: #b1b1b1;
}

.align-items-start {
  align-items: flex-start !important;
}

.d-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.product-slide {
  position: relative;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 5;
  display: none;
}

.custom-swiper-button-next {
  right: -0.25rem;
}

.gray-prev-glass {
  background-image: url(./img/icon-arrow-left.svg);
}

.gray-next-glass {
  background-image: url(./img/icon-arrow-right.svg);
}

.blue-prev-glass {
  background-image: url(./img/icon-arrow-left-blue.svg);
}

.blue-next-glass {
  background-image: url(./img/icon-arrow-right-blue.svg);
}

.gold-prev-glass {
  background-image: url(./img/icon-arrow-left-coffee.svg);
}

.gold-next-glass {
  background-image: url(./img/icon-arrow-right-coffee.svg);
}

.next-glass {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #007bff;
}

.prev-glass {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 17.3px 10px 0;
  border-color: transparent #007bff transparent transparent;
}

.grayBox {
  max-width: 495px;
  text-align: center;
  margin: 0 auto;
  background-color: #f5f5f5;
  border: 1px solid #c5c5c5;
  padding: 14px;
}

.product-slide-item {
  text-align: center;
}
.product-slide-item .info {
  color: #000;
  font-size: 14px;
}

.mainSection {
  background-image: url(./img/bg-section01_B.png);
  background-position: top center;
  background-repeat: repeat;
}
@media (max-width: 767px) {
  .mainSection {
    background-image: url(./img/bg-section01_sp.png);
  }
}

section.conanIntro {
  padding-top: 306px;
}
section.conanIntro .info {
  position: relative;
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
}
section.conanIntro .info > * {
  z-index: 2;
}
section.conanIntro .info::after {
  width: 250%;
  height: 200%;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 499px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.9) 61.67%, rgba(255, 255, 255, 0.7) 100%);
  z-index: 1;
  filter: blur(15px);
}
section.conanIntro .info .date {
  position: relative;
  font-size: 32px;
  font-weight: bold;
}
section.conanIntro .info .keyhole {
  position: relative;
  margin: 23px 0;
}
section.conanIntro .info .title {
  position: relative;
  font-size: 28px;
  margin-bottom: 1em;
  font-weight: bold;
}
section.conanIntro .info .text {
  position: relative;
  font-size: 20px;
}
section.conanIntro .info .dec-conan {
  left: -250px;
  top: 246px;
}
@media (max-width: 767px) {
  section.conanIntro {
    padding-top: 150px;
    margin-bottom: 220px;
  }
  section.conanIntro .info::after {
    width: 150%;
    height: 150%;
  }
  section.conanIntro .info .date {
    position: relative;
    font-size: 16px;
  }
  section.conanIntro .info .keyhole {
    position: relative;
    margin: 10px 0;
  }
  section.conanIntro .info .title {
    position: relative;
    font-size: 20px;
    margin-bottom: 1em;
  }
  section.conanIntro .info .text {
    position: relative;
    font-size: 14px;
  }
  section.conanIntro .info .dec-conan {
    top: 334px;
    height: 215px;
    left: calc(50% - 50px);
  }
}

section.lineUp {
  position: relative;
  max-width: 982px;
  margin: 0 auto;
  padding-top: 420px;
  margin-bottom: 170px;
}
section.lineUp .title {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
  z-index: 2;
}
section.lineUp .dec-prisoner {
  right: -128px;
  bottom: -54px;
  z-index: 2;
}
section.lineUp .nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  z-index: 4;
}
section.lineUp .nav .nav-item {
  border: 3px solid #b57641;
  color: #573719;
  font-weight: bold;
  background-color: #fff;
  text-align: center;
}
section.lineUp .nav .nav-item .name {
  font-size: 22px;
}
section.lineUp .nav .nav-item .num {
  font-size: 26px;
}
section.lineUp .nav .nav-item small {
  font-size: 18px;
}
section.lineUp .nav .nav-item:hover {
  background-color: #f3e5d8;
}
section.lineUp .nav .nav-item:nth-child(2) {
  margin: 0 16px;
}
section.lineUp .nav .nav-item:not(:last-child) {
  flex: 1;
  width: 33.3%;
  padding: 16px;
}
section.lineUp .nav .nav-item:last-child {
  padding: 20px;
  width: 100%;
}
section.lineUp::after {
  width: 1680px;
  height: 568px;
  content: "";
  display: block;
  background-image: url(img/bg-wall_PC.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
@media (max-width: 1250px) {
  section.lineUp .dec-prisoner {
    right: -40px;
  }
  section.lineUp .nav {
    max-width: 805px;
  }
}
@media (max-width: 767px) {
  section.lineUp {
    padding-top: 0;
    max-width: 320px;
    margin-bottom: 64px;
  }
  section.lineUp::after {
    width: 420px;
    height: 442px;
    content: "";
    display: block;
    background-image: url(img/bg-wall.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  section.lineUp .title {
    padding-top: 24px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  section.lineUp .dec-prisoner {
    width: 167px;
    height: 441px;
    right: 0;
    bottom: -120px;
    z-index: 2;
  }
  section.lineUp .nav {
    flex-direction: column;
    padding: 0 16px;
    gap: 20px;
  }
  section.lineUp .nav .nav-item {
    width: 193px;
    height: 42px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    line-height: 1;
  }
  section.lineUp .nav .nav-item .name {
    font-size: 12px;
    width: 100%;
    flex: 0 0 auto;
  }
  section.lineUp .nav .nav-item .num,
  section.lineUp .nav .nav-item small {
    font-size: 16px;
  }
  section.lineUp .nav .nav-item .num {
    margin-right: 3px;
  }
  section.lineUp .nav .nav-item:nth-child(2) {
    margin: 0 auto;
  }
  section.lineUp .nav .nav-item:not(:last-child), section.lineUp .nav .nav-item:last-child {
    flex: auto;
    padding: 8px;
    width: 193px;
    height: 42px;
  }
}

section.concept {
  padding: 45px;
}
section.concept .title {
  position: relative;
  left: -40px;
  margin: 0 auto;
  max-width: 563px;
  margin-bottom: 40px;
}
section.concept .products {
  max-width: 1620px;
  margin: 0 auto;
  background-color: #fff;
  border: 4px solid #603d1c;
}
section.concept .products .hr {
  width: 80%;
  height: 5px;
  background-color: #543618;
  margin: 0 auto;
}
section.concept .products .product {
  margin: 0 auto;
  padding: 70px;
}
section.concept .products .product .d-row:first-child {
  margin-bottom: 40px;
}
section.concept .products .product .d-row:nth-child(2) {
  margin-bottom: 50px;
}
section.concept .products .product .model {
  font-size: 18px;
  text-align: center;
  margin: 46px 0 0 0;
}
section.concept .products .product .btn-more {
  margin: 46px auto;
}
section.concept .products .product.product-24A-16 {
  max-width: 1080px;
}
section.concept .products .product.product-24A-16 .detail-00 {
  width: 495px;
}
section.concept .products .product.product-24A-16 .detail-01, section.concept .products .product.product-24A-16 .detail-02 {
  padding-top: 30px;
  width: 166px;
}
section.concept .products .product.product-24A-16 .detail-01 p, section.concept .products .product.product-24A-16 .detail-02 p {
  margin-top: 70px;
}
section.concept .products .product.product-24A-16 .detail-03 {
  position: relative;
  width: 246px;
}
section.concept .products .product.product-24A-16 .detail-03 .dec-conan02 {
  top: -125px;
}
section.concept .products .product.product-24A-16 .detail-04 {
  text-align: center;
  width: 260px;
}
section.concept .products .product.product-24A-16 .detail-04 p {
  margin-top: 1em;
}
section.concept .products .product.product-24A-16 .detail-05 {
  width: 524px;
}
section.concept .products .product.product-24A-15 {
  max-width: 1180px;
}
section.concept .products .product.product-24A-15 .detail-00 {
  width: 495px;
}
section.concept .products .product.product-24A-15 .detail-01 {
  width: 365px;
  padding-top: 30px;
}
section.concept .products .product.product-24A-15 .detail-01 p {
  margin-top: 70px;
}
section.concept .products .product.product-24A-15 .detail-02 {
  padding-top: 30px;
  width: 166px;
}
section.concept .products .product.product-24A-15 .detail-02 p {
  margin-top: 70px;
}
section.concept .products .product.product-24A-15 .detail-03 {
  position: relative;
  width: 246px;
}
section.concept .products .product.product-24A-15 .detail-03 .dec-kudo {
  top: -190px;
  left: -100px;
  width: 210%;
}
section.concept .products .product.product-24A-15 .detail-04 {
  text-align: center;
  width: 260px;
}
section.concept .products .product.product-24A-15 .detail-04 p {
  margin-top: 1em;
}
section.concept .products .product.product-24A-15 .detail-05 {
  width: 524px;
}
section.concept .products .product.product-24A-15 .detail-05 img {
  margin: 0 auto;
}
section.concept .accessories {
  margin-top: 60px;
}
section.concept .accessories .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.concept .accessories .accessories-title {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}
section.concept .accessories .badge {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  background: #000;
  border-radius: 50px;
  padding: 10px 56px;
  margin: 34px auto;
}
section.concept .accessories h4 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
section.concept .accessories .accessory {
  max-width: 1060px;
  margin: 0 auto;
  text-align: center;
}
section.concept .accessories .accessory:last-child {
  margin-top: 50px;
}
section.concept .accessories .accessory .detail-info {
  margin: 36px auto;
}
section.concept .accessories .accessory .detail-info .name {
  font-size: 24px;
  font-weight: 500;
}
section.concept .accessories .accessory .detail-info .info {
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  section.concept .d-row {
    flex-wrap: wrap;
  }
  section.concept .products .custom-swiper-button-next,
  section.concept .products .custom-swiper-button-prev {
    display: block !important;
  }
  section.concept .products .product {
    padding: 20px;
  }
  section.concept .products .product.product-24A-16 .detail p {
    font-size: 16px;
  }
  section.concept .products .product.product-24A-16 .detail-01, section.concept .products .product.product-24A-16 .detail-02 {
    padding-top: 30px;
    width: 200px;
    text-align: center;
  }
  section.concept .products .product.product-24A-16 .detail-01 p, section.concept .products .product.product-24A-16 .detail-02 p {
    margin-top: 20px;
  }
  section.concept .products .product.product-24A-16 .detail-03 {
    width: 246px;
  }
  section.concept .products .product.product-24A-16 .detail-03 .dec-conan02 {
    top: -196px;
    height: 320px;
  }
  section.concept .products .product.product-24A-15 .detail p {
    font-size: 16px;
  }
  section.concept .products .product.product-24A-15 .detail-01 p, section.concept .products .product.product-24A-15 .detail-02 p {
    margin-top: 20px;
  }
  section.concept .products .product.product-24A-15 .detail-03 {
    width: 246px;
  }
  section.concept .products .product.product-24A-15 .detail-03 .dec-kudo {
    top: -160px;
    left: 0px;
    width: 135%;
  }
  section.concept .products .product.product-24A-15 .detail-05 {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 767px) {
  section.concept {
    padding: 16px;
  }
  section.concept .title {
    margin-bottom: 20px;
    left: 0;
  }
  section.concept .title img {
    width: 200px;
    margin: 0 auto;
  }
  section.concept .d-row {
    gap: 0px;
  }
  section.concept .products .hr {
    width: 90%;
    height: 2px;
  }
  section.concept .products .product-slide-item img {
    width: 85%;
  }
  section.concept .products .product .d-row:first-child,
  section.concept .products .product .d-row:nth-child(2),
  section.concept .products .product .d-row:last-child {
    margin-bottom: 0;
  }
  section.concept .products .product .model,
  section.concept .products .product .pro-link-text {
    font-size: 12px;
  }
  section.concept .products .product.product-24A-16 .d-row.align-items-start {
    flex-direction: column;
  }
  section.concept .products .product.product-24A-16 .detail {
    margin-bottom: 20px;
    text-align: center;
  }
  section.concept .products .product.product-24A-16 .detail p {
    font-size: 12px;
  }
  section.concept .products .product.product-24A-16 .detail-00 p {
    margin-top: 20px;
  }
  section.concept .products .product.product-24A-16 .detail-04 {
    position: relative;
    max-width: 200px;
    order: 1;
  }
  section.concept .products .product.product-24A-16 .detail-04 img.sp_only {
    max-width: 200px;
  }
  section.concept .products .product.product-24A-16 .detail-04 img {
    margin: 0 auto;
  }
  section.concept .products .product.product-24A-16 .detail-04 .dec-conan02 {
    top: 80px;
    left: -70px;
    height: 191px;
  }
  section.concept .products .product.product-24A-16 .detail-05 .sp_only {
    position: relative;
    left: -21px;
  }
  section.concept .products .product.product-24A-15 .detail {
    margin-bottom: 20px;
    text-align: center;
  }
  section.concept .products .product.product-24A-15 .detail p {
    font-size: 12px;
  }
  section.concept .products .product.product-24A-15 .detail-00 p, section.concept .products .product.product-24A-15 .detail-01 p, section.concept .products .product.product-24A-15 .detail-02 p {
    margin-top: 20px;
  }
  section.concept .products .product.product-24A-15 .detail-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  section.concept .products .product.product-24A-15 .detail-01 img {
    max-width: 200px;
  }
  section.concept .products .product.product-24A-15 .detail-02 {
    max-width: 200px;
    width: 100%;
  }
  section.concept .products .product.product-24A-15 .detail-02 img {
    margin: 0 auto;
  }
  section.concept .products .product.product-24A-15 .detail-03 {
    width: 246px;
  }
  section.concept .products .product.product-24A-15 .detail-04 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  section.concept .products .product.product-24A-15 .detail-04 img {
    max-width: 200px;
  }
  section.concept .products .product.product-24A-15 .detail-04 .dec-kudo {
    bottom: -113px;
    right: -20px;
  }
  section.concept .products .product.product-24A-15 .detail-05 .sp_only {
    position: relative;
    right: -21px;
  }
  section.concept .accessories {
    margin-top: 40px;
  }
  section.concept .accessories .accessories-title {
    font-size: 22px;
  }
  section.concept .accessories .badge {
    font-size: 14px;
    border-radius: 50px;
    padding: 6px 32px;
    margin: 34px auto 16px auto;
  }
  section.concept .accessories h4 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  section.concept .accessories .accessory {
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
  }
  section.concept .accessories .accessory:last-child {
    margin-top: 20px;
  }
  section.concept .accessories .accessory:last-child img {
    width: 183px;
    height: 260;
  }
  section.concept .accessories .accessory .detail-info {
    margin: 16px auto;
  }
  section.concept .accessories .accessory .detail-info .name {
    font-size: 12px;
  }
  section.concept .accessories .accessory .detail-info .info {
    font-size: 12px;
  }
  section.concept .grayBox {
    font-size: 12px;
    padding: 14px 58px;
  }
  section.concept .btn-more {
    font-size: 12px;
    width: 170px;
  }
}

.btn-more {
  display: block;
  text-align: center;
  width: 260px;
  border-radius: 36px;
  font-size: 18px;
  padding: 7px;
  margin: 20px auto;
}
.btn-more--gold {
  color: #fff;
  background-color: #e5aa74;
}

section.scenes {
  position: relative;
  background-image: url(./img/bg-section02_pc.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding: 240px 45px 100px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.scenes .dec-kaito {
  z-index: 1;
}
section.scenes .title {
  position: relative;
  margin-bottom: 62px;
}
section.scenes .products {
  position: relative;
  width: 100%;
  max-width: 1300px;
}
section.scenes .products .pc_only.dec-kaito {
  right: -324px;
  top: -270px;
}
@media (max-width: 1700px) {
  section.scenes .products .pc_only.dec-kaito {
    right: -210px;
    top: -270px;
  }
}
section.scenes .products .product {
  position: relative;
  padding: 60px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border: 3px solid #80776c;
  margin-bottom: 124px;
  z-index: 3;
}
section.scenes .products .product .d-row {
  margin-bottom: 57px;
}
section.scenes .products .product .detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.scenes .products .product .detail .pic {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
section.scenes .products .product .detail .pic img {
  max-width: 50%;
}
section.scenes .products .product .detail-01 {
  gap: 36px;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 424px;
}
section.scenes .products .product .detail-01 p {
  width: 100%;
  flex: 1 1 auto;
}
section.scenes .products .product-1 .dec-conan, section.scenes .products .product-2 .dec-conan, section.scenes .products .product-3 .dec-conan {
  z-index: 2;
}
section.scenes .products .product-1 .dec-conan {
  right: -30px;
  bottom: -130px;
  width: 180px;
}
section.scenes .products .product-2 .dec-conan {
  left: 0;
  bottom: -155px;
  left: -55px;
}
section.scenes .products .product-3 .dec-conan {
  right: -25px;
  bottom: -240px;
}
section.scenes .products .product-slide-item img {
  margin: 20px 0;
}
section.scenes .products .product-slide-item .model {
  font-size: 18px;
  text-align: center;
}
section.scenes .products .product-slide-item .pro-link-text {
  margin-bottom: 6px;
  font-size: 14px;
}
section.scenes .products .product-slide-item .btn-more {
  font-size: 18px;
  width: 170px;
}
section.scenes .dec-mountain {
  left: 0;
  bottom: 0;
  z-index: 3;
  pointer-events: none;
}
@media (max-width: 1024px) {
  section.scenes .custom-swiper-button-next,
  section.scenes .custom-swiper-button-prev {
    display: block !important;
  }
}
@media (max-width: 767px) {
  section.scenes {
    background-image: url(./img/bg-section02_sp.png);
    background-size: cover;
    padding: 240px 20px 200px 20px;
  }
  section.scenes .title {
    width: 191px;
    margin-bottom: 20px;
    z-index: 2;
  }
  section.scenes .dec-mountain {
    width: 300px;
    height: 196px;
    left: -55px;
  }
  section.scenes .dec-kaito {
    width: 236px;
    height: 426px;
    right: -50px;
    top: 100px;
  }
  section.scenes .products {
    padding: 0 20px;
  }
  section.scenes .products .product {
    padding: 20px;
    border: 2px solid #80776c;
    margin-bottom: 37px;
  }
  section.scenes .products .product .d-row {
    flex-direction: column;
  }
  section.scenes .products .product .detail {
    width: 100%;
  }
  section.scenes .products .product .detail p {
    font-size: 12px;
    text-align: center;
  }
  section.scenes .products .product .detail .pic {
    flex-direction: column;
  }
  section.scenes .products .product .detail .pic img {
    max-width: 100%;
  }
  section.scenes .products .product .detail-01 {
    gap: 24px;
    max-width: 100%;
  }
  section.scenes .products .product-1 .dec-conan {
    left: 0;
    right: unset;
    bottom: 590px;
    width: 113px;
    height: 208px;
  }
  section.scenes .products .product-2 {
    position: relative;
    padding-bottom: 30%;
  }
  section.scenes .products .product-2 .dec-conan {
    left: -30px;
    bottom: 470px;
    width: 160px;
    height: 226px;
  }
  section.scenes .products .product-2 .m-bg {
    width: 110%;
    max-width: 767px;
    bottom: -4px;
    left: -22px;
    position: absolute;
    z-index: 1;
  }
  section.scenes .products .product-2::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 400px;
    display: block;
    bottom: -400px;
    left: -22px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 41.67%, #e0b889 100%);
  }
  section.scenes .products .product-3 .dec-conan {
    right: 0px;
    bottom: -190px;
    width: 140px;
    height: 200px;
  }
  section.scenes .products .product-slide-item img {
    margin: 4px 0;
  }
  section.scenes .products .product-slide-item .pro-link-text {
    margin-bottom: 24px;
  }
  section.scenes .products .product-slide-item .model,
  section.scenes .products .product-slide-item .pro-link-text,
  section.scenes .products .product-slide-item .btn-more {
    font-size: 12px;
  }
}

section.characters .header {
  padding: 120px 30px 210px 30px;
}
section.characters .header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
section.characters .header .title {
  text-align: center;
  margin-bottom: 80px;
}
section.characters .header .title h3 {
  color: #5c5a5a;
  font-size: 36px;
  font-weight: 500;
  line-height: 140%;
}
section.characters .header .title p {
  color: #5c5a5a;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
}
section.characters .header .title p span {
  font-size: 22px;
  margin-left: 30px;
}
section.characters .header .title .hr {
  margin: 14px auto;
}
section.characters .header .figure {
  position: relative;
  max-width: 100%;
}
section.characters .header .figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
}
@media (any-hover: hover) {
  section.characters .header .figure:hover img.image-hover {
    opacity: 1;
  }
}
section.characters .character {
  text-align: center;
}
section.characters .character .header {
  padding: 133px 20px 72px 20px;
}
section.characters .character .product {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding: 82px 30px 88px 30px;
}
section.characters .character .product .dec {
  z-index: 2;
}
section.characters .character .product .details {
  position: relative;
  max-width: 588px;
}
section.characters .character .product .details .detail {
  margin-bottom: 40px;
}
section.characters .character .product .details .detail-02 .pic {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
}
section.characters .character .product .details .detail-02 .pic img {
  max-width: 50%;
}
section.characters .character .product .details p {
  position: relative;
  z-index: 4;
}
section.characters .character .product .product-slide {
  margin-top: 60px;
}
section.characters .character .product .btn-more {
  color: #fff;
}
section.characters .character-1 .header {
  background-color: #94283d;
  border-bottom: 8px solid #e5aa74;
}
section.characters .character-1 .product .details {
  margin: 0 0 0 auto;
}
section.characters .character-1 .product .btn-more {
  background-color: #e5aa74;
}
section.characters .character-1 .product .dec-all {
  left: -165px;
}
section.characters .character-1 .next-glass {
  border-color: transparent transparent transparent #e5aa74;
}
section.characters .character-1 .prev-glass {
  border-color: transparent #e5aa74 transparent transparent;
}
section.characters .character-2 .header {
  background-color: #4a4f7d;
  border-bottom: 8px solid #fcc5d2;
}
section.characters .character-2 .product .pc_only.dec-1 {
  left: -78px;
  top: 208px;
}
section.characters .character-2 .product .pc_only.dec-2 {
  right: -90px;
  top: 140px;
}
section.characters .character-2 .product .details {
  margin: 0 auto;
}
section.characters .character-2 .product .btn-more {
  background-color: #fcc5d2;
}
section.characters .character-2 .next-glass {
  border-color: transparent transparent transparent #fcc5d2;
}
section.characters .character-2 .prev-glass {
  border-color: transparent #fcc5d2 transparent transparent;
}
section.characters .character-3 .header {
  background-color: #ca92ad;
  border-bottom: 8px solid #5d76b8;
}
section.characters .character-3 .product .dec-all {
  right: 0;
  top: 140px;
}
section.characters .character-3 .product .details {
  margin: 0 auto 0 0;
}
section.characters .character-3 .product .btn-more {
  background-color: #5d76b8;
}
section.characters .character-3 .next-glass {
  border-color: transparent transparent transparent #5d76b8;
}
section.characters .character-3 .prev-glass {
  border-color: transparent #5d76b8 transparent transparent;
}
section.characters .character-4 .header {
  background-color: #e7d4a3;
  border-bottom: 8px solid #939393;
}
section.characters .character-4 .product .dec-all {
  left: -50px;
  top: 10px;
}
section.characters .character-4 .product .details {
  margin: 0 0 0 auto;
}
section.characters .character-4 .product .btn-more {
  background-color: #939393;
}
section.characters .character-4 .next-glass {
  border-color: transparent transparent transparent #939393;
}
section.characters .character-4 .prev-glass {
  border-color: transparent #939393 transparent transparent;
}
section.characters .character-5 .header {
  background-color: #8fa468;
  border-bottom: 8px solid #f8b679;
}
section.characters .character-5 .product .pc_only.dec-1 {
  left: 0px;
  top: 180px;
}
section.characters .character-5 .product .pc_only.dec-2 {
  right: 20px;
  top: 140px;
}
section.characters .character-5 .product .details {
  margin: 0 auto;
}
section.characters .character-5 .product .btn-more {
  background-color: #f8b679;
}
section.characters .character-5 .next-glass {
  border-color: transparent transparent transparent #f8b679;
}
section.characters .character-5 .prev-glass {
  border-color: transparent #f8b679 transparent transparent;
}
section.characters .character-6 .header {
  background-color: #000;
  border-bottom: 8px solid #e0b889;
}
section.characters .character-6 .product .dec-all {
  left: -50px;
  top: 10px;
}
section.characters .character-6 .product .details {
  margin: 0 0 0 auto;
}
section.characters .character-6 .product .btn-more {
  background-color: #e0b889;
}
section.characters .character-6 .next-glass {
  border-color: transparent transparent transparent #e0b889;
}
section.characters .character-6 .prev-glass {
  border-color: transparent #e0b889 transparent transparent;
}
@media (max-width: 1024px) {
  section.characters .custom-swiper-button-next,
  section.characters .custom-swiper-button-prev {
    display: block !important;
  }
}
@media (max-width: 1020px) {
  section.characters .sp_only.dec,
  section.characters .sp_only {
    display: block !important;
  }
  section.characters .pc_only.dec,
  section.characters .pc_only {
    display: none !important;
  }
  section.characters .header {
    padding: 35px 30px 50px 30px;
  }
  section.characters .header .title {
    margin-bottom: 34px;
  }
  section.characters .header .title h3 {
    font-size: 18px;
  }
  section.characters .header .title p {
    font-size: 16px;
  }
  section.characters .header .title p span {
    font-size: 14px;
    margin: 0;
    display: block;
  }
  section.characters .header .nav {
    flex-wrap: wrap;
  }
  section.characters .header .nav .nav-item {
    flex: 0 0 calc(33.33% - 12px);
    margin-bottom: 18px;
  }
  section.characters .character .header {
    padding: 63px 20px 32px 20px;
    border-width: 4px;
  }
  section.characters .character .header .title {
    max-width: 182px;
  }
  section.characters .character .product {
    padding: 40px 30px;
  }
  section.characters .character .product .details {
    margin: 0 auto;
  }
  section.characters .character .product .details .detail {
    font-size: 12px;
  }
  section.characters .character .product .details .detail-02 .pic {
    flex-wrap: wrap;
  }
  section.characters .character .product .details .detail-02 .pic img {
    max-width: 100%;
  }
  section.characters .character .product .product-slide {
    margin-top: 40px;
  }
  section.characters .character .product .model,
  section.characters .character .product .info,
  section.characters .character .product .pro-link-text {
    font-size: 12px;
  }
  section.characters .character .product .btn-more {
    font-size: 12px;
    width: 170px;
  }
  section.characters .character-1 .product .dec-1 {
    top: 43%;
    left: 0;
  }
  section.characters .character-1 .product .dec-2 {
    top: 70%;
    right: -40px;
  }
  section.characters .character-2 .product .dec-1 {
    left: -50px;
  }
  section.characters .character-2 .product .dec-2 {
    right: -52px;
  }
  section.characters .character-3 .product .dec-1 {
    left: -50px;
    top: 150px;
  }
  section.characters .character-3 .product .dec-2 {
    right: -52px;
    top: 150px;
  }
  section.characters .character-4 .product .dec-1 {
    left: 10px;
    top: 40%;
    z-index: 1;
  }
  section.characters .character-4 .product .dec-2 {
    right: 0px;
    top: 62%;
    z-index: 1;
  }
  section.characters .character-4 .product .details {
    z-index: 2;
  }
  section.characters .character-5 .product .dec-1 {
    left: -110px;
    bottom: -140px;
  }
  section.characters .character-5 .product .dec-2 {
    right: -96px;
    top: -125px;
  }
  section.characters .character-6 .product .dec-1 {
    left: -66px;
    z-index: 1;
  }
  section.characters .character-6 .product .dec-2 {
    right: -65px;
    z-index: 1;
  }
}
@media (max-width: 480px) {
  section.characters .character-5 .product .dec-1 {
    left: -68px;
    bottom: -208px;
  }
  section.characters .character-5 .product .dec-2 {
    right: -70px;
    top: -60px;
  }
  section.characters .character-6 .product .dec-2 {
    bottom: -40px;
  }
}

section.merchandise {
  position: relative;
  background-image: url(./img/bg-merchandise_pc.png);
  background-position: top center;
  background-repeat: repeat-x;
  padding: 83px 45px 200px 45px;
  border-top: solid 23px #603d1d;
}
section.merchandise .title {
  max-width: 560px;
  margin: 0 auto;
  margin-bottom: 240px;
}
section.merchandise .itemPanel {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 0 auto;
}
section.merchandise .itemPanel-1 {
  margin-bottom: 60px;
}
section.merchandise .itemPanel .gallery {
  position: relative;
}
section.merchandise .itemPanel .gallery .gallery-slider {
  max-width: 460px;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
}
section.merchandise .itemPanel .gallery .custom-swiper-button-next,
section.merchandise .itemPanel .gallery .custom-swiper-button-prev {
  display: block;
}
section.merchandise .itemPanel .gallery .custom-swiper-button-next {
  right: -3rem;
}
section.merchandise .itemPanel .gallery .custom-swiper-button-prev {
  left: -3rem;
}
section.merchandise .itemPanel .detail {
  max-width: 360px;
}
section.merchandise .itemPanel .detail .thumbnail {
  position: relative;
  margin-bottom: 67px;
}
section.merchandise .itemPanel .detail .thumbnail .swiper-slide {
  border: 1px solid #e7e7e7;
  max-width: 173px;
}
section.merchandise .itemPanel .detail .thumbnail .custom-swiper-button-next {
  right: -3rem;
  display: block;
}
section.merchandise .itemPanel .detail .thumbnail .custom-swiper-button-prev {
  left: -3rem;
  display: block;
}
section.merchandise .itemPanel .info .model {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}
section.merchandise .itemPanel .info .name {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}
section.merchandise .itemPanel .info .name span {
  font-weight: 400;
}
section.merchandise .itemPanel .info .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}
section.merchandise .itemPanel-1 .btn-more {
  color: #dfdfdf;
  background: #284a75;
}
section.merchandise .itemPanel-2 {
  flex-direction: row-reverse;
}
section.merchandise .itemPanel-2 .btn-more {
  color: #97806a;
  background: #ecdecf;
}
@media (max-width: 767px) {
  section.merchandise {
    background-image: url(./img/bg-section01_sp.png);
    background-repeat: repeat;
    padding: 45px 30px;
    border-top: solid 12px #603d1d;
  }
  section.merchandise .title {
    margin-bottom: 40px;
  }
  section.merchandise .title img {
    margin: 0 auto;
  }
  section.merchandise .itemPanel {
    display: block;
    padding: 30px 35px;
    background: #fff;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2) inset;
    gap: 20px;
    text-align: center;
    margin: 0 auto;
  }
  section.merchandise .itemPanel-1 {
    border: 3px solid #284a75;
    margin-bottom: 20px;
  }
  section.merchandise .itemPanel-2 {
    border: 3px solid #603d1d;
  }
  section.merchandise .itemPanel .btn-more {
    font-size: 12px;
    width: 170px;
  }
  section.merchandise .itemPanel .detail {
    margin: 0 auto;
  }
  section.merchandise .itemPanel .detail .thumbnail {
    position: relative;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  section.merchandise .itemPanel .detail .thumbnail .swiper-slide {
    border: none;
    max-width: unset;
  }
  section.merchandise .itemPanel .info .model {
    font-size: 12px;
  }
  section.merchandise .itemPanel .info .name {
    font-size: 18px;
  }
  section.merchandise .itemPanel .info .text {
    font-size: 14px;
  }
}

main {
  padding-top: 0 !important;
  overflow: hidden;
  line-height: 1.6;
}

section.kv img {
  width: 100%;
}

section.accessories {
  background-color: #e0b889;
  padding: 98px 60px 114px 60px;
}
section.accessories .accessories-panel {
  position: relative;
  padding: 60px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.accessories .title {
  font-size: 36px;
  font-weight: 500;
}
section.accessories h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 36px;
}
section.accessories .badge {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  background: #e5aa74;
  border-radius: 50px;
  padding: 10px 56px;
  margin: 36px auto 32px auto;
}
section.accessories .item {
  text-align: center;
  margin-bottom: 64px;
  max-width: 596px;
}
section.accessories .item img {
  margin-bottom: 24px;
}
section.accessories .item .name {
  font-size: 24px;
  font-weight: 500;
}
section.accessories .item .info {
  font-size: 16px;
  font-weight: 400;
}
section.accessories--gray {
  background-color: #c2c2c2;
}
section.accessories--gray .badge {
  background: #919191;
}
@media (max-width: 767px) {
  section.accessories {
    padding: 38px 20px 49px 20px;
  }
  section.accessories .title {
    font-size: 22px;
  }
  section.accessories h4 {
    font-size: 12px;
    margin-bottom: 24px;
  }
  section.accessories .badge {
    font-size: 12px;
    border-radius: 50px;
    padding: 6px 32px;
    margin: 34px auto 16px auto;
  }
  section.accessories .item {
    margin-bottom: 32px;
  }
  section.accessories .item img {
    margin-bottom: 4px;
  }
  section.accessories .item .name {
    font-size: 16px;
  }
  section.accessories .item .info {
    font-size: 14px;
  }
}

section.giveaway {
  background: #ece5de;
  padding: 80px 15px;
  border-top: solid 40px #603d1d;
  text-align: center;
}
section.giveaway .inner {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 24px;
  padding-bottom: 40px;
}
section.giveaway .date {
  font-size: 36px;
  font-weight: 500;
}
section.giveaway .text {
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
}
section.giveaway .title {
  color: #616161;
  font-size: 36px;
  font-weight: 700;
  line-height: 160%;
}
section.giveaway .pic {
  position: relative;
  margin: 50px auto;
  width: 785px;
}
section.giveaway .box {
  background-color: #fff;
  border-radius: 70px;
  margin: 0 auto;
  padding: 56px 0;
}
section.giveaway .box-inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
section.giveaway .top-info .info {
  font-size: 24px;
  font-weight: 700;
}
section.giveaway .top-info .info_s {
  font-size: 20px;
  font-weight: 700;
  margin: 50px auto 60px auto;
}
section.giveaway .d-info {
  display: flex;
  font-size: 18px;
  text-align: left;
}
section.giveaway .d-info h3 {
  font-size: 20px;
  font-weight: 100;
}
section.giveaway .d-info div {
  flex: 1;
  padding: 0 20px;
  font-weight: 400;
}
@media (max-width: 767px) {
  section.giveaway {
    border-top: solid 12px #603d1d;
  }
  section.giveaway .date {
    font-size: 12px;
    margin-bottom: 5px;
  }
  section.giveaway .text {
    margin-bottom: 5px;
    font-size: 12px;
  }
  section.giveaway .title {
    font-size: 21px;
  }
  section.giveaway .box {
    border-radius: 20px;
    padding: 40px 25px;
  }
  section.giveaway .pic {
    margin: 20px auto;
    max-width: 300px;
  }
  section.giveaway .top-info .info {
    font-size: 18px;
  }
  section.giveaway .top-info .info_s {
    font-size: 18px;
    margin: 40px auto;
  }
  section.giveaway .d-info {
    flex-direction: column;
    font-size: 12px;
  }
  section.giveaway .d-info div {
    padding: 0;
  }
  section.giveaway .d-info div + div {
    margin-top: 20px;
  }
  section.giveaway .d-info .m-t1em {
    margin-top: 1em;
  }
  section.giveaway .d-info h3 {
    font-size: 12px;
  }
  section.giveaway .inner {
    padding-bottom: 20px;
  }
}
section.giveaway .swiper-pagination-bullet {
  border: 1px solid #603d1d;
  width: 15px;
  height: 15px;
}
section.giveaway .swiper-pagination {
  position: relative !important;
}
section.giveaway .swiper-pagination-bullet-active {
  background: #603d1d;
}
section.giveaway .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
section.giveaway .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}
section.giveaway .custom-swiper-button-prev,
section.giveaway .custom-swiper-button-next {
  display: block;
  top: calc(50% - 20px);
}
section.giveaway .custom-swiper-button-prev {
  left: -2.5rem;
}
section.giveaway .custom-swiper-button-next {
  right: -2.5rem;
}